name: uni_management_mobile
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  flutter_secure_storage: ^9.0.0
  intl: ^0.18.1
  g_recaptcha_v3: ^0.0.4
  flutter_dotenv: ^6.0.0
  firebase_core: ^4.3.0
  firebase_app_check: ^0.4.1+3
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
